@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300;400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(site\ resmi.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.25s ease;
}

nav .menu {
    display: flex;
    column-gap: 30px;
}

nav ul {
    list-style-type: none;
    column-gap: 30px;
    display: flex;
}

.container {
    width: 80%;
    margin: auto;
}

/* Header başlangıç */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo a {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

header {
    height: 100px;
    border-bottom: 2px solid rgb(6, 6, 138);
    column-gap: 48px;
}

nav .menu .menu-button {
    color: #0ba2c0;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 12px 24px;
    border-radius: 56px;
    transition: 0.25 ease;

}
ul li a:hover{
    color: #0ba2c0;
}
nav .menu .menu-button:hover{
    background-color: #0ba2c0;
    color:white ;
}
/* Header bitiş */
/* responsive start */
@media(max-width:576px){
    .container {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .menu .menu-button{
        display: none;
    }
.menu ul{
    column-gap: 20px;
}
}
/* responsive end */
/* section start */
.content {
    color: white;
    height: calc(100vh-100px);
    padding-top: 150px;

}
.content h1{
    font-size: 60px;
    text-align: center;
}
.content p{
    font-size: 24px;
    text-align: center;
    margin-top: 36px;
}
.content .links{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    column-gap: 16px;
    
}
.content .links a{
    background-color: white;
    padding: 20px;
    width: 180px;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 56px;
    transition: all .25s ease-in;
}
.content .links a:hover{
    background-color: #0ba2c0;
    color: white;
}
/* section end */







